@media (max-width: 765px) {
    .mainBlock, #nav, #section {
        flex-direction: column;
        padding: 0;
    }

    .mainBlock ul {
        justify-content: flex-start;
    }

    #nav, #section {
        width: 90%;
        padding: 5%;
    }
    
    #nav {
        /* debe convertirse en un desplegable*/
        height: 90px;
    }

    #section {
        height: 90px;
    }
}