@media (max-width: 765px) {

    .mainBlock ul {
        justify-content: flex-start;
        flex-wrap: initial;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    
    #nav, #section, #header {
        width: 90%;
        padding: 5%;
        display: block;
    }
    
    #nav {
        /* debe convertirse en un desplegable*/
        height: 90px;
    }

    #section {
        height: auto;
    }

    .contenedor { 
        width: 300px;
        height: 200px;
    }
}