* {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    align-content: flex-start;
}

body {
    background-color: antiquewhite;
    width: 100%;
    height: 400%;
}

.header {
    width: 100%;
    height: 80px;
    border-radius: 0px;
}

.mainBlock {
    width: 100%;
    height: 800px;
}

.mainBlock ul {
    padding: 5%;
    gap: 5%;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

/* deprecated */
#titular {
    width: 100%;
    gap: 5%;
    padding: 0 0 0 5%;
}
    /* deprecated */
    .titular_nav {
        width: 30%;
        display: block;
    }

    /* deprecated */
    .titular_section {
        width: 60%;
        display: block;
    }

    .titular_section2 {
        width: 100%;
        display: block;
    }

    h1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 0;
    margin-bottom: 0;
    color: #3b4248;
    }

#nav {
    width: 30%;
    height: 720px;
}

#section {
    width: 60%;
    height: 720px;

}

#section ul {
    list-style: none;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 25px;
    padding: 25px;   
}

    .contenedor {
        width: 150px;
        height: 125px;
        background-color: red;
    }

        img{
            object-fit: cover;
            width:100%;
            height:100%;
        }

.header, #nav, #section {
    background-color: #2f353a;
}



